<div class="grid-100 header">
    <div class="grid-container grid-100 tablet-grid-100 mobile-grid-100 container">
        <div class="grid-20 top-profile">
            <h1>Profile</h1>
        </div>
        <div class="grid-30 top-left-bar">
            <h1>Search</h1>
        </div>
        <div class="grid-50 top-right-bar">
            <h1>User</h1>
        </div>
    </div>
</div>